HOST=localhost
PORT=3000
NODE_ENV=development

PGHOST=localhost
PGPORT=5432
PGDATABASE=authapi
PGDATABASE_TEST=authapi_test
PGUSER=your_username
PGPASSWORD=your_password

# auth
ACCESS_TOKEN_KEY=your_random_string_key
REFRESH_TOKEN_KEY=your_random_string_key